{% extends "admin/change_list.html" %}

{% block content %}
  {{ block.super }}
  <div id="admin-hours-extras">
    <h2>Liquidaciones abiertas</h2>
{% for user_ in all_users %}
{% if user.id == user_.id or user.is_superuser %}
<div style="max-width: 400px; float:left;">
    <p><b>User: {{ user_ }}</b></p>
      {% for liq in user_.liquidaciones.all %}
      {% if liq.abierto %}
      <p>Liquidacion abierta:<b>{{ liq.anio }}-{{ liq.mes }}</b></p>
      <p>
        <ul>
          {% with resumen=liq.resumen %}
          <li>Total horas: {{ resumen.total_horas|floatformat:2 }}</li>
          <li>Total $: {{ resumen.total_plata|floatformat:2 }}</li>
          <li>Total adelantos $: {{ resumen.total_adelantos|floatformat:2 }}</li>
          <li><b>Final a cobrar: $ {{ resumen.total_final|floatformat:2 }}</b></li>
          <li>
            Por projecto
            <ul>
              {% for proyecto_id,res in resumen.proyectos.items %}
                  <li>Proyecto: 
                    <b>{{ res.project.full_name }}</b>
                    {{ res.total_horas|floatformat:2 }} horas,
                    $: {{ res.total_plata|floatformat:2 }}
                  </li>
              {% endfor %}
            </ul>
          </li>
          <li>
            Adelantos ({{ resumen.adelantos|length }})
            <ul>
              {% for adelanto in resumen.adelantos %}
                  <li> $ {{ adelanto.total|floatformat:2 }} ({{ adelanto.created }})</li>
              {% endfor %}
            </ul>
          </li>
          {% endwith %}
        </ul>
      </p>
</div>
{% endif %}
{% endfor %}

  </div>
  {% endif %}
  {% endfor %}
{% endblock %}
